  body {
    font-family: 'Roboto Mono', monospace;
    background-color: #FCFCFC;
  }
  .container {
    width: 800px;
    padding-left: 80px;
    padding-top: 40px;
    line-height: 1.5;
  }
  p {
    font-family: 'Roboto Mono';
  }
  .intro {
    font-size: 40px;
  }
  .description {
    font-size: 20px;
    color: #f25a78;
  }

  .navbar-text {
    text-align: center;
  }
